<a href="https://colab.research.google.com/github/jelly12paw/01-PJT-01/blob/master/Python_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python 기초

#### for 문 / index

In [2]:
word = 'hello!'

for char in word :

    print(char)

print('----')

word = 'hello!'

char = word[0]
print(char)

char = word[1] 
print(char)

char = word[2]
print(char)

char = word[3]
print(char)

char = word[4]
print(char)

char = word[5]
print(char)

h
e
l
l
o
!
----
h
e
l
l
o
!

#### function

In [3]:
# 정의
# 1. def 
# 2. 함수 이름 : add
# 3. Input : a, b

def add(a, b):
    # 4. return : 값을 반환
    return a + b

def minus(a, b):
    return a - b

# 호출
print(add(5, 10))
print(minus(10, 5))

# 내장 함수 호출
print(sum([1, 2, 3]))

15
5
6

In [5]:
def foo():
    return 1, 2

result = foo()
print(result, type(result))

def no():
    a = 1

result = no() 
print(result, type(result))


# print 함수는 출력을 해주고, return 값은 없습니다. (None)

a = print('hi')
print(a, type(a)) 

a = 'hi'
print(a)

(1, 2) <class 'tuple'>
None <class 'NoneType'>
hi
None <class 'NoneType'>
hi

In [6]:
# 기본값이 sep는 ' '으로 정의가 되어 있음.
print('hi', 'hello') # hi hello

# 키워드로 sep를 바꿔서 호출할 수 있음
print('hi', 'hello', sep='-') 
print(1, 2, 3, 4, 5, 6, 7, 8)

# 정해지지 않은 갯수의 인자
def my_add(*numbers):
    # 내부적으로 numbers가 tuple
    return numbers 

result = my_add(1, 2, 3)
print(result, type(result)) 

def my_func(**kwargs):
    return kwargs

result = my_func(name='홍길동', age='100', gender='M')
print(result, type(result))

hi hello
hi-hello
1 2 3 4 5 6 7 8
(1, 2, 3) <class 'tuple'>
{'name': '홍길동', 'age': '100', 'gender': 'M'} <class 'dict'>

#### 타입 변환

In [9]:
# TypeError 발생 코드

sum = 5
print(sum([1, 2, 3]))

TypeError: ignored

In [10]:
numbers = ['1', '2', '3']

# 문자형을 숫자형으로 변환하기
# 단, 리스트를 숫자로 형 변환은 불가능합니다.

a = int(numbers[0])
b = int(numbers[1])
c = int(numbers[2])

new_numbers = [a, b, c]

# 반복문
numbers = ['1', '2', '3']
print(numbers)

new_numbers = []
for number in numbers :
    
    new_numbers.append(int(number))

print(new_numbers)

# map
numbers = ['1', '2', '3']
new_numbers_2 = map(int, numbers)

print(new_numbers_2, type(new_numbers_2)) 
print(list(new_numbers_2))

['1', '2', '3']
[1, 2, 3]
<map object at 0x7ff3885cfa10> <class 'map'>
[1, 2, 3]

#### map

In [11]:
# 직사각형의 넓이를 구하시오.
# 직사각형 세로는 n 가로는 m
# Input 예시
# 10 20

n, m = map(int, input().split())
print(n * m)

# 내장함수를 10을 다 더해주는 함수가 있어요.
def plus10(n):
    return n + 10

numbers = [10, 20, 30]
new_numbers = list(map(plus10, numbers))
print(new_numbers)

10 20
200
[20, 30, 40]

#### print end

In [13]:
# sep (' ') : 여러개를 동시에 출력할 때 사이에 구분값
# end ('\n') : print 출력이 된 이후 뒤에 뭐를 붙일지!

print(1, end='')
print(2, end='')
print(3)

print('---')

print(1, end='\n')
print(2, end='\n')
print(3)

123
---
1
2
3